<!DOCTYPE html>
<html>

  <head>
    <title>Forecast 24-hr time and dew point</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/gmap.css">
    <link rel="shortcut icon" href="/favicon.ico"/> 
  </head>

  <body ng-app="geo">
    <div id="text">
      Click on the map for a 24hr forecast<br>
      US data by the
      <a href="http://graphical.weather.gov/xml/rest.php" target="_blank">
        National Weather Service
      </a><br>
      By
      <a href="mailto:chuck@kollar.com">
        Charles Kollar
      </a>
      ; the
      <a href="https://github.com/ChuckKollar/gmap_app"
         target="_blank">
        GitHub
      </a>
      repository
    </div>

    <div ng-controller="mainController">

      <form>
        <div id="map_canvas"
             ui-map="model.myMap"
             class="map"
             ui-options="mapOptions"
             ui-event="{'map-click' : 'onClick($event, $params)' }"
             >
         </div>
        <div id="map_info" ng-show="showResult()">
           Latitude: {{lat}} <br />
           Longitude: {{lng}} <br />
           Accuracy: {{accuracy}}
        </div>
        <div id="map_info" ng-show="!showResult()">
            Error : {{error}}
            Error Code: {{error.code}}
        </div>       
      </form>

      <div id="nws" ng-show="countrycode == 'US'">
        <table ng-table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Temp (F)</th>
              <th>Dew Point (F)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="reading in readings">
              <!-- https://docs.angularjs.org/api/ng/filter/date -->
              <td>{{ reading.time | date: 'medium' }}</td>
              <td>{{ reading.temp }}</td>
              <td>{{ reading.dewpt }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  <!--
  $ npm install -g bower
  http://bower.io/search/
  $ bower install angular
  $ bower install angular-ui-event
  $ bower install angular-ui-map
  -->
  <script type="text/javascript" src="/js/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/js/bower_components/angular-ui-utils/ui-utils.min.js"></script>
  <script type="text/javascript" src="/js/bower_components/angular-ui-map/ui-map.min.js"></script>
  <script type="text/javascript" src="/js/bower_components/angular-ui-event/dist/event.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

  <script type="text/javascript" src="/js/gmap.js"></script>

  </body>
</html>
